body {
    background-color: lightblue;
}

#content {
    margin-left: auto;
}

#wrapper {
    width: 1000px;
    margin: 0 auto;
}

table thead td {
    padding: 5px;
    margin: 5px;
    font-size: 20px;
}